<video width="600" height="240" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>

<form class="take-off" action="index.html" method="post">
  <button type="button" name="button">Take Off</button>
</form>

<form class="land" action="index.html" method="post">
  <button type="button" name="button">Land</button>
</form>

<form class="hover" action="index.html" method="post">
  <button type="button" name="button">Hover</button>
</form>


<div class="control-pad">
  <div class="up">
    <form class="up-button" action="index.html" method="post">
      <button type="button" name="button">&#8679; Forward</button>
    </form>
  </div>
  <form class="down" action="index.html" method="post">
    <button type="button" name="button">&#8681; Back</button>
  </form>
  <form class="left" action="index.html" method="post">
    <button type="button" name="button">&#8678; Left</button>
  </form>
  <form class="right" action="index.html" method="post">
    <button type="button" name="button">&#8680; Right</button>
  </form>
</div>

<div class="data-feed">
  DATA FEED:
</div>
